<div *ngIf="werkmd[localPageN][0]['info']" class="kolom0">
  <div [innerHTML]="werkmd[localPageN][0]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][1]['info']" class="kolom1">
  <div [innerHTML]="werkmd[localPageN][1]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][2]['info']" class="kolom2">
  <div [innerHTML]="werkmd[localPageN][2]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][3]['info']" class="kolom3">
  <div [innerHTML]="werkmd[localPageN][3]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][4]['info']" class="kolom4">
  <div [innerHTML]="werkmd[localPageN][4]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][5]['info']" class="kolom5">
  <div [innerHTML]="werkmd[localPageN][5]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][6]['info']" class="kolom6">
  <div [innerHTML]="werkmd[localPageN][6]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][7]['info']" class="kolom7">
  <div [innerHTML]="werkmd[localPageN][7]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][8]['info']" class="kolom8">
    <div [innerHTML]="werkmd[localPageN][8]['secure']"></div>
</div>

<div *ngIf="werkmd[localPageN][9]['info']" class="kolom9">
    <div [innerHTML]="werkmd[localPageN][9]['secure']"></div>
</div>
